.research {
    padding-top: clamp(6.25rem, 4.926rem + 6.62vw, 12rem);

    &__heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: clamp(1.5rem, 1.327rem + 0.86vw, 2.25rem);
    }

    &__title {
        font-size: clamp(3rem, -2.294rem + 7.06vw, 5.25rem);
        font-weight: 500;
        line-height: 120%;
        letter-spacing: -1.3px;

        @media (max-width: 1199.98px) {
            font-size: clamp(2rem, 1.25rem + 1.54vw, 3rem);
        }
    }

    &__label {
        color: #020c2a;
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: -1.5px;
        border-bottom: 1px solid rgb(2, 12, 42);

        @media (max-width: 679.98px) {
            font-size: clamp(0.75rem, 0.417rem + 1.67vw, 1.125rem);
        }
    }

    &__inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        @media (max-width: 1216.98px) {
            grid-template-columns: repeat(2, 1fr);

            & > :nth-child(3) {
                grid-column: span 2;
            }
        }

        @media (max-width: 767.98px) {
            grid-template-columns: 1fr;

            & > :nth-child(3) {
                grid-column: span 1;
            }
        }
    }

    &__item-image {
        position: relative;

        @media (max-width: 1216.98px) {
            width: 100%;
        }
    }

    &__item-img {
        border-radius: 12px;
        display: block; 

        @media (max-width: 1216.98px) {
            width: 100%;
            max-height: 400px; 
            object-fit: cover;
            object-position: center;

            @media (max-width: 644.98px) {
                max-height: 300px;
            }
        }
    }

    &__item-title {
        padding: 16px 24px;
        width: fit-content;
        font-size: clamp(0.875rem, 0.731rem + 0.72vw, 1.5rem);
        font-weight: 400;
        line-height: 150%;
        letter-spacing: -1.3px;
        border-radius: 99px;
        background: rgb(255, 255, 255);
        z-index: 2;
        position: absolute;
        top: 40px;
        left: 40px;
        text-align: center; 

        @media (max-width: 644.98px) {
            top: 20px;
            left: 20px;
        }
    }

    &__item-text {
        margin-top: clamp(1rem, 0.885rem + 0.58vw, 1.5rem);
        color: #787878;
        font-size: clamp(1.5rem, 0.324rem + 1.57vw, 2rem);
        font-weight: 500;
        line-height: 130%;
        letter-spacing: -1.3px;

        @media (max-width: 1199.98px) {
            font-size: clamp(1rem, 0.345rem + 1.54vw, 1.5rem);
        }
    }

    &__link {
        max-width: fit-content;
        padding: clamp(0.75rem, -0.426rem + 1.57vw, 1.25rem)
            clamp(1.5rem, -0.853rem + 3.14vw, 2.5rem);
        border: 1px solid rgb(2, 12, 42);
        border-radius: 99px;
        display: flex;
        align-items: center;
        gap: clamp(1rem, 0.412rem + 0.78vw, 1.25rem);
        color: #020c2a;
        font-size: clamp(1rem, -0.176rem + 1.57vw, 1.5rem);
        line-height: 100%;
        letter-spacing: -1.5px;
        margin-top: 36px;
    }
}
