.mobile-nav {
    position: fixed;
    top: 3%;
    opacity: 0;
    width: 100%;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    transition: all 0.2s ease-in;
    margin: 0 auto;
}

.mobile-wrapper {
    display: none;
    padding: 24px 16px;
    width: 100%;
    background: #fff;
    border-radius: 12px;
}

.mobile-wrapper--active {
    display: block;
}

.mobile-nav__btn {
	margin-top: 30px;
	padding: 16px 36px;
    width: 100%;
    color: #fff;
    font-size: 16px;
    border-radius: 99px;
    background: rgb(2, 12, 42);
}

.mobile-nav--open {
    top: 100px;
    opacity: 1;
}

.mobile-nav a {
	color: #020c2a;
	font-size: 28px;
	font-weight: 500;
	line-height: 120%;
	letter-spacing: -1px;
	text-transform: capitalize;
}

.mobile-nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    
    & .active {
        opacity: 0.5;
    }
}
